@using GovUk.Frontend.AspNetCore.TagHelpers
@{
    var url = ViewContext.HttpContext.Request.Path.ToString().ToLower();
    if (url != "/challenge" && url != "/challenge/post")
    {
        @(await Component.InvokeAsync("CookiesBanner"))
    }
}
<govuk-header home-page-url="/" />
<govuk-service-navigation service-name="Check an early years qualification" service-url="/" />
<div class="govuk-width-container app-width-container">
    @await Component.InvokeAsync("PhaseBanner")
</div>