<header class="dfe-header" role="banner">
    <div class="govuk-width-container dfe-header__container">
      <div class="dfe-header__logo">
        <div class="dfe-header__link dfe-header__link--service" aria-label="DfE homepage">
          <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
          <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
        </div>
      </div>
      <div class="dfe-header__content" id="content-header">
        <div class="dfe-header__menu">
          <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
            aria-expanded="false">Menu</button>
        </div>
      </div>
    </div>
  </header>
  <div class="govuk-width-container app-width-container">
    @await Component.InvokeAsync("PhaseBanner")
  </div>
