html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin: 0;
    margin-bottom: 60px;
    background-color: #ffffff;
}

p {
    margin-top: 0;
}

hr {
    height: 1px;
}

/* GovUK style overrides */
.govuk-radios__input {
    z-index: 1;
}

.chevron-card__wrapper {
    padding: 19px 0 4px;
    position: relative;
}

.chevron-card-link__wrapper {
    width: 95%;
    margin-bottom: 40px;
}

.chevron-card__link:after {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 20%;
    margin-top: 5px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 14px;
}

.chevron-card__link:hover::after {
    border-color: #003078;
}

.chevron-card__link:visited::after {
    border-color: #4C2C92;
}

.text-align-right {
    text-align: right;
}

.govuk-skip-link:focus {
    margin-bottom: 0 !important;
}

.print-button {
    background: url(../assets/images/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
}

.govuk-\!-width-one-half {
    width: 49% !important;
    padding: 0 15px;
    display: inline-block;
}

.govuk-\!-width-one-third {
    width: 29% !important;
    padding: 0 15px;
    display: inline-block;
}

.govuk-\!-width-two-third {
    width: 69% !important;
    padding: 0 15px;
    display: inline-block;
}

.tag-padding-right {
    padding-right: 10px;
}

@media (min-width: 768px) {
    .tag-padding-right {
        padding-right: 0 !important;
    }
}

.display-flex {
    display: flex;
}

.float-left {
    float: left;
}

.button-as-link {
    background: none !important;
    border: none;
    color: #1d70b8;
}

.button-as-link:focus {
    outline: 3px solid #0000 !important;
    background-color: #fd0 !important;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c !important;
    text-decoration: none !important;
    -webkit-box-decoration-break: clone !important;
}

.post-heading-wrapper {
    margin-bottom: 40px;
}

.various-ao-content-wrapper {
    margin: 40px 0;
}

/* Resize  3 column summary list */
.summary-list-action .govuk-summary-list__row .govuk-summary-list__key {
    width: 56%;
}

@media (max-width: 640px) {
    #clear-search {
        width: 100%;
        margin: 0 auto;
    }

    .summary-list-action .govuk-summary-list__row .govuk-summary-list__key {
        width: 100%;
    }
}

@media (max-width: 998px) {

    #refineSearchButton {
        margin-left: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #refineSearch {
        width: 100% !important;
    }
}

@media (min-width: 641px) and (max-width: 998px) {
    #clear-search {
        margin-top: 18px !important;
        float: none;
    }

    #clear-search-form {
        display: inline;
    }

    #refine-search-form {
        display: inline;
    }
}

@media (min-width: 999px) {
    #refine-search-form {
        width: 85%;
        float: left;
    }

    #clear-search-form {
        width: 15%;
        float: left;
    }
}

/* Custom Feedback Banner Component */
.feedback-banner-container {
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid #B1B4B6;
    background-color: #F3F2F1;
    margin-top: 40px;
}

.feedback-banner-container h3 {
    font-size: 24px;
}

.feedback-banner-container .feedback-banner-body > p {
    font-size: 19px !important;
    margin-bottom: 0;
}

.govuk-tag {
    max-width: initial !important;
}

/* Custom Qualification Result component */
.govuk-inset-text.qualification-result-success {
    border-left-color: #00703c;
}

.govuk-inset-text.qualification-result-failure {
    border-left-color: #d4351c;
}

#ud-feedback {
    background: #fff;
    margin-top: 30px;
}

@media (min-width: 48.0625em) {
    #ud-feedback {
        margin-top: 60px
    }
}

#ud-feedback [hidden] {
    display: none !important
}

.ud-feedback__prompt {
    background-color: #f4f8fb;
    color: #0b0c0c;
    border-top: 1px solid #8eb8dc;
    outline: 0
}

.ud-feedback__prompt-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px
}

@media (min-width: 40.0625em) {
    .ud-feedback__prompt-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }
}

.ud-feedback__prompt-questions {
    text-align: left;
    padding: 20px 0
}

@media (min-width: 40.0625em) {
    .ud-feedback__prompt-questions {
        margin: 0 15px
    }
}

.ud-feedback__prompt-questions--get-help {
    border-top: 1px solid #b1b4b6
}

@media (min-width: 40.0625em) {
    .ud-feedback__prompt-questions--get-help {
        border: 0
    }
}

.ud-feedback__prompt-question-answer {
    display: flex;
    align-items: center
}

@media (max-width: 19.99em) {
    .ud-feedback__prompt-question-answer {
        justify-content: center;
        flex-wrap: wrap
    }
}

.ud-feedback__prompt-question, .ud-feedback__prompt-success {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.3157894737
}

@media print {
    .ud-feedback__prompt-question, .ud-feedback__prompt-success {
        font-family: sans-serif
    }
}

@media print {
    .ud-feedback__prompt-question, .ud-feedback__prompt-success {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .ud-feedback__prompt-question, .ud-feedback__prompt-success {
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print and (min-width: 40.0625em) {
    .ud-feedback__prompt-question, .ud-feedback__prompt-success {
        font-family: sans-serif
    }
}

@media print and (min-width: 40.0625em) {
    .ud-feedback__prompt-question, .ud-feedback__prompt-success {
        font-size: 14pt;
        line-height: 1.2
    }
}

.ud-feedback__prompt-question {
    margin: 0;
    padding-bottom: 10px
}

.ud-feedback__prompt-question:focus {
    outline: 0
}

@media (min-width: 20em) {
    .ud-feedback__prompt-question {
        padding-bottom: 0;
        margin-right: 10px
    }
}

@media (min-width: 48.0625em) {
    .ud-feedback__prompt-question {
        margin-right: 20px
    }
}

.ud-feedback__button {
    background: rgba(0, 0, 0, 0);
    color: #0b0c0c;
    box-shadow: 0 3px 0 #0b0c0c;
    border: 1px #0b0c0c solid;
    margin-bottom: 0;
    width: 100%;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737
}

@media print {
    .ud-feedback__button {
        font-family: sans-serif
    }
}

@media print {
    .ud-feedback__button {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .ud-feedback__button {
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25
    }

    /* Remove bottom margin on the last paragraph tag within card component for larger viewports */
    .govuk-summary-card__content .govuk-summary-list__row p.govuk-body:last-child {
        margin-bottom: 0;
    }
}

@media print and (min-width: 40.0625em) {
    .ud-feedback__button {
        font-family: sans-serif
    }
}

@media print and (min-width: 40.0625em) {
    .ud-feedback__button {
        font-size: 14pt;
        line-height: 1.2
    }
}

.ud-feedback__button:focus, .ud-feedback__button:focus:not(:active):not(:hover) {
    background: #fd0;
    border-color: #0b0c0c;
    box-shadow: 0 5px 0 #0b0c0c
}

.ud-feedback__button:active {
    color: #0b0c0c
}

.ud-feedback__button:hover {
    background: #b1b4b6;
    color: #0b0c0c
}

.ud-feedback__button:link, .ud-feedback__button:visited {
    color: #0b0c0c
}

.ud-feedback__button:link:focus, .ud-feedback__button:link:active, .ud-feedback__button:visited:focus, .ud-feedback__button:visited:active {
    color: #0b0c0c
}

.ud-feedback__option-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.ud-feedback__option-list-item:last-child {
    margin-left: 10px
}

@media (min-width: 48.0625em) {
    .ud-feedback__option-list-item:last-child {
        margin-left: 20px
    }
}

.ud-feedback__option-list-item .ud-feedback__button {
    min-width: 100px
}

@media (max-width: 48.0525em) {
    .ud-feedback__option-list-item .ud-feedback__button {
        min-width: 80px
    }
}

#ud-improve-service {
    padding: 15px;
    border-top: 1px solid #8eb8dc;
}

@media (min-width: 40.0625em) {
    #ud-improve-service {
        padding: 30px
    }
}

#ud-cancel {
    margin: 20px 0 0
}

.govuk-main-wrapper:has(#ud-feedback) {
    padding-bottom: 0;
}

.dont-float {
    float: none;
}

#qualification-result {
    padding: 0;
}

#qualification-details-summary {
    margin-bottom: 30px;
}

.options-stamp, .options-stamp:visited, .options-stamp:hover, .options-stamp:active {
    position: fixed;
    border: 10px solid maroon;
    color: maroon;
    background-color: white;
    padding: 10px;
    margin: 30px;
    top: 0;
    right: 0;
}

/* Feedback container */
.feedback-container {
    border-top: 2px solid #1d70b8;
    border-bottom: 2px solid #1d70b8;
    padding: 10px 0;
}

.feedback-container > p {
    margin-bottom: 0 !important;
    font-size: 1rem;
}

.feedback-container.mobile-only {
    display: inline-block;
    margin-bottom: 50px;
}

.feedback-container.desktop-only {
    display: none;
}

@media (min-width: 999px) {
    .feedback-container.mobile-only {
        display: none;
    }

    .feedback-container.desktop-only {
        display: block;
    }
}

/* The govuk-inset-text has additional margin that makes the gap between the heading and main content too big in the 
   cannot find a qualification page. As this content is inserted from the CMS, we can't change the styling on the element
   itself. This aims to target the first div that is a govuk inset text element */
#advice-page-body > :first-child:is(div.govuk-inset-text) {
    margin-top: 0;
}

.govuk-section-break__overrides {
    border-color: #8eb8dc;
    border-bottom: #8eb8dc;
    background-color: #8eb8dc;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 25px;
}

.govuk-footer__section > .govuk-footer__list > .govuk-footer__list-item > p {
    margin-bottom: 0!important;
}

.additional-requirement-hint > * {
    color: #505a5f !important;
    margin-top: 15px !important;
}

/* EYQL Filter specific styles */

.filter {
    border: 1px solid #b1b4b6;
}

.filter__header, .filter__selected-filters, .filter__filter-body {
    padding: 10px;
    border-bottom: 1px solid #b1b4b6;
}

.filter__selected-filters {
    background: #f3f2f1;
}

.filter__header {
    background-color: #b1b4b6;
}

.filter__header .govuk-heading-m {
    margin-bottom: 0;
}

.filter__filter-body {
    border-bottom: none;
}

.filter__filter-body__section {
    margin-top: 20px;
}