html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* GovUK style overrides */
.govuk-radios__input {
    z-index: 1;
}

.chevron-card__wrapper {
    padding: 19px 0 4px;
    position: relative;
}

.chevron-card__link:after {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: 5px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 14px;
}

.chevron-card__link:hover::after {
    border-color: #003078;
}

.chevron-card__link:visited::after {
    border-color: #4C2C92;
}

.tag-align-right {
    float: right;
}

.govuk-skip-link:focus {
    margin-bottom: 0!important;
}

.print-button {
    background: url(../assets/images/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
}

.govuk-\!-width-one-half {
    width: 49% !important;
    padding: 0 15px;
    display: inline-block;
}

.no-padding-right {
    padding-right: 0 !important;
}

@media print {
    details {
        display: block;
    }
}