@using Dfe.EarlyYearsQualification.Caching
@model OptionsPageModel

@{
    if (!Model.Option.Equals(CachingOption.None.ToString(), StringComparison.Ordinal))
    {
        <a class="options-stamp" href="/" tabindex="0">
            Options: @Model.Option
        </a>
    }
}