@model ChallengeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Challenge</title>
</head>
<body>
<p>
    If you have been invited to view this preview service, you will have been
    given a value that will grant access. Please type in the value and click 'Submit'.
</p>
@using (Html.BeginForm("Post", "Challenge", new { }, FormMethod.Post))
{
    <input type="hidden" id="redirectAddress" name="redirectAddress" value="@Model.RedirectAddress"/>
    <input type="text" id="value" name="value" placeholder="key" size="50" />
    <input type="submit" value="Submit"/>
}
</body>
</html>