@{
    ViewData["Title"] = "Page not found";
    Layout = "_LayoutStatic";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 id="page-not-found-heading" class="govuk-heading-xl">Page not found</h1>
        <div id="page-not-found-statement-body" class="govuk-body">
            <p class="govuk-body">
                If you typed out the web address, check it is correct.<br/><br/>
                If you pasted the web address, check you copied the entire address.<br/><br/>
                If the web address is correct, or you selected a link or button, contact the check an early years
                qualification team by emailing <a id="page-not-found-link" class="govuk-link"
                                                  href="mailto:general.EARLY-YEARS-QUALS@education.gov.uk">general.EARLY-YEARS-QUALS@education.gov.uk</a>
                to report a fault with the service.
            </p>
        </div>
    </div>
</div>