@{
    ViewData["Title"] = "There is a problem with the service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 id="problem-with-service-heading" class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <div id="problem-with-service-body" class="govuk-body">
            <p class="govuk-body">
                Please try again later.<br/><br/>
                In the meantime, you can download the <a id="problem-with-service-link" href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england">early years qualifications list (EYQL) spreadsheet</a>. This document is regularly updated by DfE to add new or updated qualifications as they become approved. You should refresh the page before downloading the EYQL spreadsheet to be sure that you are using the latest version.
            </p>
        </div>
    </div>
</div>