@model Dfe.EarlyYearsQualification.Web.Models.Content.HelpViewModels.ConfirmationPageViewModel

@{
    ViewData["Title"] = Model.BodyHeading;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <govuk-panel heading-level="1">
            <govuk-panel-title id="success-message">@Model.SuccessMessage</govuk-panel-title>
        </govuk-panel>

        <p class="govuk-body govuk-!-margin-bottom-4">
            @Model.SuccessMessageFollowingText
        </p>

        <h2 class="govuk-heading-m" id="help-confirmation-body-heading">@Model.BodyHeading</h2>
        <div class="govuk-body" id="help-confirmation-body">@Html.Raw(Model.Body)</div>
  
        <hr class='govuk-section-break govuk-section-break--l govuk-section-break--visible' />
  
        @{ await Html.RenderPartialAsync("Partials/FeedbackFormQuestions", Model.FeedbackFormPageModel); }
    </div>
</div>