@model AdditionalInformationModel

@if (Model.ShowAdditionalInformationBodyByDefault)
{
    <div class="govuk-body">
        @Html.Raw(Model.AdditionalInformationBody)
    </div>
}
else
{
    <govuk-details>
        <govuk-details-summary>
            @Model.AdditionalInformationHeader
        </govuk-details-summary>
        <govuk-details-text>
            @Html.Raw(Model.AdditionalInformationBody)
        </govuk-details-text>
    </govuk-details>
}
