@model Dfe.EarlyYearsQualification.Web.Models.Content.NavigationLinkModel

<a id="back-button" href="@Model.Href" class="govuk-back-link" target=@(Model.OpenInNewTab ? "_blank" : "")>@Model.DisplayText</a>