@model Dfe.EarlyYearsQualification.Web.Models.Content.NavigationLinkModel

<a id="back-button" href="@Model.Href" class="govuk-back-link govuk-!-display-none-print"
   target=@(Model.OpenInNewTab ? "_blank" : "")>@Model.DisplayText</a>