@model Dfe.EarlyYearsQualification.Web.Models.Content.FeedbackComponentModel

<div id="feedback-component">
    <h2 class="govuk-heading-m" id="feedback-header">
        @Model.FeedbackHeader
    </h2>
    @Html.Raw(Model.FeedbackBody)
</div>