@model Dfe.EarlyYearsQualification.Web.Models.Content.FeedbackBannerModel

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title">
            @Model.BannerTitle
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            @Model.Heading
        </p>
        @Html.Raw(Model.Body)
    </div>
</div>