@model RatioRowModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title govuk-!-width-one-half govuk-!-margin-0 govuk-!-padding-0 ratio-heading" id="@{@Model.LevelText}_heading">
            @Model.LevelText
        </h3>
        <div class="govuk-!-width-one-half govuk-!-margin-0 govuk-!-padding-0 text-align-right" id="ratio-@Model.RatioId-tag">
            @switch (Model.ApprovalStatus)
            {
                case QualificationApprovalStatus.Approved:
                    <strong class="govuk-tag govuk-tag--green ratio-status-tag">
                        Approved
                    </strong>
                    break;
                case QualificationApprovalStatus.NotApproved:
                    <strong class="govuk-tag govuk-tag--red ratio-status-tag">
                        Not approved
                    </strong>
                    break;
                case QualificationApprovalStatus.FurtherActionRequired:
                    <strong class="govuk-tag govuk-tag--grey ratio-status-tag">
                        Further action required
                    </strong>
                    break;
                case QualificationApprovalStatus.PossibleRouteAvailable:
                    <strong class="govuk-tag govuk-tag--blue ratio-status-tag">
                        Possible route available
                    </strong>
                    break;
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.AdditionalInformation.AdditionalInformationBody))
    {
        <div class="govuk-summary-card__content" id="ratio-@Model.RatioId-additional-info">
            <div class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    @Html.Raw(Model.AdditionalInformation.AdditionalInformationBody)
                </div>
            </div>
        </div>
    }
</div>