@model Dfe.EarlyYearsQualification.Web.Models.RatioRowModel

<div class="govuk-grid-row ratio-row">
    <div class="govuk-!-width-one-half">
        <div class="govuk-!-static-margin-top-6 govuk-!-static-margin-bottom-6">
            <p class="govuk-body govuk-!-text-align-left ratio-heading" id="@{@Model.LevelText}_heading"><strong>@Model.LevelText</strong></p>
        </div>
    </div>
    <div class="govuk-!-width-one-half tag-padding-right">
        <div class="govuk-!-static-margin-top-6 govuk-!-static-margin-bottom-6">
            @{
                if (Model.IsApproved)
                {
                    <strong class="govuk-tag govuk-tag--green tag-align-right">
                        Approved
                    </strong>
                }
                else
                {
                    <strong class="govuk-tag govuk-tag--red tag-align-right">
                        Not Approved
                    </strong>
                }
            }
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.AdditionalInformation.AdditionalInformationBody) && !string.IsNullOrEmpty(Model.AdditionalInformation.AdditionalInformationHeader))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @{ await Html.RenderPartialAsync("Partials/AdditionalInformation", Model.AdditionalInformation); }
        </div>
    </div>
}
<hr class="mb-0 mt-0"/>