@model List<Dfe.EarlyYearsQualification.Web.Models.Content.OptionModel>

<div class="govuk-radios" data-module="govuk-radios">
  @foreach(var option in Model)
  {
    <div class="govuk-radios__item">
      @Html.RadioButtonFor(option => option, option.Value, new {@class="govuk-radios__input", id="@option.Value", name="@option.Value"})
      @Html.LabelFor(option => option, option.Label, new {@class="govuk-label govuk-radios__label", name="option.Label"})
    </div>
  }
</div>