@model Dfe.EarlyYearsQualification.Web.Models.QualificationSearchModel;

@{
    ViewData["Title"] = "Qualifications";
    string[] qualifications = ["eyq-140", "eyq-150", "eyq-160", "eyq-170", "eyq-180", "eyq-220", "eyq-240"];
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="event-name">
        Your search
      </label>
    </h1>
    <ul class="govuk-list govuk-list--bullet">
      @if(!string.IsNullOrEmpty(Model.LevelOfQual))
      {
        <li>@Model.SearchParams.LevelOfQual</li> 
      }

      @if(!string.IsNullOrEmpty(Model.WhereWasQualAwarded))
      {
        <li>@Model.SearchParams.WhereWasQualAwarded</li> 
      }
    </ul>

    <p class="govuk-body">
      <a href="q1" class="govuk-link">Change my search</a>
    </p>

  </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Temporary page</h1>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Qualification link</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var qualification in qualifications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Html.ActionLink(qualification, "Index", new { qualificationId = qualification })</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>