@model Dfe.EarlyYearsQualification.Web.Models.Content.FeedbackFormPageModel

@{
    ViewData["Title"] = Model.Heading;
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        @{ await Html.RenderPartialAsync("Partials/FeedbackFormQuestions", Model); }
    </div>
</div>