name: Code PR Check 

on:
  workflow_dispatch: 
  push:
    branches: ["main"]
    paths:
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: ["main", "release/**", "fix/**"]
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/code-pr-check.yml'
      - '.github/actions/**'
      - 'terraform/**'
      - 'adr/**'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true
  
env:
  DOTNET_VERSION: 8
  SOLUTION_NAME: 'Dfe.EarlyYearsQualification.sln'
  URL: 'http://127.0.0.1:5000'
  
jobs:

  build-app:  
    name: Build, check and run tests
    runs-on: ubuntu-22.04
    environment: development

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Build web app  
        uses: ./.github/actions/build-dotnet-app
        with:
          dotnet_version: ${{ env.DOTNET_VERSION }}  
          solution_filename: ${{ env.SOLUTION_NAME }}

      - name: Run unit tests
        uses: ./.github/actions/run-unit-tests
        with:
          solution_filename: ${{ env.SOLUTION_NAME }}

  run-playwright-e2e-tests:
    name: Run Playwright e2e tests
    runs-on: ubuntu-22.04
    environment: development
#    needs: [build-app]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        
      - name: Install playwright
        uses: ./.github/actions/install-playwright

      - name: Run Playwright snapshot tests
        uses: ./.github/actions/run-playwright-snapshot-tests

      - name: Run Playwright e2e tests
        uses: ./.github/actions/run-playwright-e2e-tests

  run-playwright-webkit-e2e-tests:
    name: Run Playwright webkit e2e tests
    runs-on: ubuntu-22.04
    environment: development
    needs: [run-playwright-e2e-tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        
      - name: Install playwright
        uses: ./.github/actions/install-playwright

      - name: Run Playwright webkit e2e tests
        uses: ./.github/actions/run-playwright-webkit-e2e-tests

  run-playwright-validation-e2e-tests:
    name: Run validation tests
    runs-on: ubuntu-22.04
    environment: development
#    needs: [run-playwright-webkit-e2e-tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        
      - name: Install playwright
        uses: ./.github/actions/install-playwright

      # NOTE: The previous step spins up a local instance on port 5000 which has use_mock_contentful set to true.
      # These tests need the flag set to false so we need to spin up a different instance hence the different url.
      - name: Run Playwright validation tests locally
        uses: ./.github/actions/run-validation-tests-locally
        with:
          webapp_url: "http://127.0.0.1:4000"
          auth_secret: ${{ secrets.WEBAPP_E2E_ACCESS_KEY }}
          test_type: "validation"
          use_mock_contentful: "false"
          run_validation_tests: "true"
          contentful_delivery_api_key: ${{ secrets.CONTENTFUL_DELIVERY_API_KEY }}
          contentful_space_id: ${{ secrets.CONTENTFUL_SPACE_ID }}

  run-playwright-webkit-validation-e2e-tests:
    name: Run webkit validation tests
    runs-on: ubuntu-22.04
    environment: development
    needs: [run-playwright-validation-e2e-tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        
      - name: Install playwright
        uses: ./.github/actions/install-playwright

      - name: Run webkit Playwright webkit validation tests locally
        uses: ./.github/actions/run-validation-tests-locally
        with:
          webapp_url: "http://127.0.0.1:8000"
          auth_secret: ${{ secrets.WEBAPP_E2E_ACCESS_KEY }}
          test_type: "validation"
          use_mock_contentful: "false"
          run_validation_tests: "true"
          contentful_delivery_api_key: ${{ secrets.CONTENTFUL_DELIVERY_API_KEY }}
          contentful_space_id: ${{ secrets.CONTENTFUL_SPACE_ID }}
          upgrade_insecure_requests: "false"
          projects: "--project=webkit"
          is_public: "true"

  run-accessibility-tests:
    name: Run Accessibility tests
    runs-on: ubuntu-22.04
    environment: development
#    needs: [run-playwright-webkit-validation-e2e-tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Build web app  
        uses: ./.github/actions/build-dotnet-app
        with:
          dotnet_version: ${{ env.DOTNET_VERSION }}  
          solution_filename: ${{ env.SOLUTION_NAME }}
          
      - name: Run app for testing
        uses: ./.github/actions/run-app-for-testing
        with:
          url: ${{ env.URL }}
          auth_secret: ${{ secrets.WEBAPP_E2E_ACCESS_KEY }}
          use_mock_contentful: "true"

      - name: Run Accessibility tests
        uses: ./.github/actions/run-accessibility-tests
        with:
          url: ${{ env.URL }}
          auth_secret: ${{ secrets.WEBAPP_E2E_ACCESS_KEY }}

  security-checks-local:
    name: Run baseline security checks locally
    runs-on: ubuntu-22.04
#    needs: [run-accessibility-tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run .Net Project
        shell: bash
        run: |
          dotnet run --urls "http://localhost:5000" --project="src/Dfe.EarlyYearsQualification.Web" \
          --UseMockContentful=true \
          --ServiceAccess:IsPublic="true" &

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: http://localhost:5000
          allow_issue_writing: false
          artifact_name: local_scan_dev
