run-name: 'Cycle Cache Access Keys'
name: Cycle Cache Access Keys

on:
  workflow_dispatch:

jobs:
  cycle-access-keys:
    name: Update cache access keys in Contentful
    runs-on: ubuntu-22.04
    environment: development
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Cycle development cache key
        env:
          CONTENTFUL_MANAGEMENT_API_KEY: ${{ secrets.CONTENTFUL_MANAGEMENT_API_KEY }}
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
        run: |
          printf 'Starting'
          
          requestUrl="https://api.contentful.com/spaces/"+${{CONTENTFUL_SPACE_ID}}+"/webhook_definitions/0LQk2seP8OUapY7jElikE0"
          
          curl -X GET $requestUrl \
            -o response.json \
            -H 'Authorization: Bearer $CONTENTFUL_MANAGEMENT_API_KEY' \
            -H 'Content-Type: application/vnd.contentful.management.v1+json'

          printf 'Here'
          
          name=$(jq -r '.name' response.json)
          url=$(jq -r '.url' response.json)
          topics=$(jq -r '.topics' response.json)
          active=$(jq -r '.active' response.json)
          version=$(jq -r '.version' response.json)
          
          printf $name
          printf $topics
          printf $active
          printf $version
          
          curl -X PUT $requestUrl \
            -H 'Authorization: Bearer $CONTENTFUL_MANAGEMENT_API_KEY' \
            -H 'Content-Type: application/vnd.contentful.management.v1+json' \
            -H 'x-contentful-version: $version' \
            -d '{"name": "$name", "url": "$url", "topics": $topics, "active": $active, "headers": [{"key":"cache-secret", "value": "ABC", "secret": true}]}'